<div class="cart" [class.active]="showCart">
  Meu carrinho

  <div class="items">
    <div *ngFor="let item of items" class="item">
      <span class="name">{{item.product.name}}</span>
      <span class="price">{{ item.product.price | currency:'BRL':true }}</span>
      <div class="btns">
        <button (click)="remove(item.product)">-</button>
        <span class="count">{{ item.count }}</span>
        <button (click)="add(item.product)">+</button>
      </div>
      <span class="subtotal">Subtotal: {{ item.product.price * item.count  | currency:'BRL': true }}</span>
    </div>

  </div>
</div>
